body {
  background-color: rgb(236, 234, 234);
}

img {
  width: 100%;
}

.heading {
  display: flex;
  color: white;
  width: 100%;
}

header {
  background-color: rgb(83, 11, 83);
}

.row {
  display: flex;
}

input {
  width: 100%;
  height: 36px;
  border-radius: 5px;
}

textarea {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: end;
}

.save-button {
  color: white;
  background-color: rgb(83, 11, 83);
  border-radius: 6px;
  font-size: 15px;
  padding: 6px;
  margin-top: 12px;
}

ul {
  list-style: none;
}

.new-button {
  color: white;
  background-color: rgb(83, 11, 83);
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  height: fit-content;
}

.entrie-column {
  justify-content: space-between;
  align-items: center;
}
